#!/usr/bin/env python
PACKAGE="x80sv_driver"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add('Kp', double_t, 0, "Kp", 3, 1, 100)

exit(gen.generate(PACKAGE, PACKAGE, "x80sv"))

