<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find x80sv_description)/urdf/x80sv.xacro'" />

	<!-- x80_drivers-->
		<include file="$(find skynav_bringup)/launch/x80_drivers.launch"/>
		
		
	<group ns="x80sv">
		<node pkg="x80sv_driver" name="input_keyboard" type="input_keyboard" output="screen"/>
	</group>
	
		
	<group ns="gui">
		<node pkg="rqt_robot_steering" name="rqt_robot_steering" type="rqt_robot_steering" output="screen"/>
	</group>

	
</launch>
