<launch>
    <include file="$(find x80sv_description)/launch/description.launch"/>

    <rosparam file="$(find x80sv_driver)/x80_config.yaml" command="load"/>

    <node pkg="x80sv_driver" name="x80_robot" type="x80_robot" output="screen"/>	
    <node pkg="x80sv_driver" name="statusled" type="statusled.py" output="screen"/>	
    <node pkg="x80sv_driver" name="neato_laser_publisher" type="neato_laser_publisher" output="screen"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>
